/node_modules
/public/hot
/public/images/profile_pictures
/public/images/trashed_pictures
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
